$white: #fff;
$black: #000;
$blackDark: #1c1d1f;
$main1: #89D1D6;
$main2: #2390de;
$silver: #7f8c8d;
$silverDark: #777;
$silverlight: #aaa;
$silverLight-50: #d4cfcf;
$silverLight-45: #e2e4eb;
$silverLight-40: #f6f6fb;
$orange: #006699;
$green: #34D399;
